.sidebar {
  /* border: 1px solid blue; */
  /* width: 260px;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0; */

  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* z-index: 999; */
  /* background: #7386D5; */
  color: #fff;
  transition: all 0.3s;
}

.sidebar-menu-container {
  overflow-y: scroll;
  height: 100%;
  /* padding: 15px 0px;

 
  display: flex;
  flex-direction: column; */
}
.main-menu-title {
  text-align: left;
  padding: 12px 30px;
  width: 100%;
  color: #9e9e9e;
}
.sidebar-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.sidebar-menu li {
  font-size: 18px;
  font-weight: 500;
}

.sidebar-menu li a {
  cursor: pointer;
  position: relative;
  padding: 15px;
  color: black;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}
.sidebar-menu li a.active {
  color: #3d5ee1;
}

.link-content {
  padding: 0 10px;
}
.sidebar-menu li a:hover {
  color: #3d5ee1;
}

.sidebar-menu li a.active:before {
  content: "";
  background-color: #3d5ee1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 6px;
  border-radius: 0 8px 8px 0;
}
.sidebar-menu li span {
  margin: 0 10px;
}

.sidebar-menu li .menu-arrow {
  position: absolute;
  right: 0;
  display: flex;
  transition: all 0.3s ease-in-out;
}

.sidebar-menu li a.active .menu-arrow {
  transform: rotate(90deg);
}

.sidebar-menu li:hover .menu-arrow:not(.active .menu-arrow) {
  /* position: absolute; */
  /* 
  margin: 0 30px;
  margin-left: 20px; */
  display: flex;
  right: -10px;
}
