* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main.page-wrapper {
  background-color: #f7f7fa;
  /* margin-left: 260px; */
  /* min-height: 100vh; */
}

.page-inner {
  padding: 24px;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.page-header ul li {
  display: inline-block;
  margin: 0 15px;
}
.page-header ul li a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.page-header ul li.active a {
  color: #6c757d;
}
.page-header ul li.active a:before {
  content: "/";
  color: #6c757d;
  margin-right: 5px;
}

.row {
  display: flex;
  border: 1px solid red;
  justify-content: space-around;
}
